@font-face {
  font-family: Rubik, sans-serif;
  src: url(../assets/fonts/Rubik-Regular.ttf);
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Rubik;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #FBF8EC;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  width: 85%;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 927px) {
  .container {
    width: 95%;
  }
}
#header {
  padding: 13px 0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  margin-bottom: 4px;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header__logo {
  width: 100%;
  max-width: 152px;
}

.img_table {
  display: none;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  max-width: 516px;
  width: 100%;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8px;
  padding: 8px;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #70C05B;
  max-width: 140px;
  width: 100%;
}

.btn__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  max-width: 92px;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #70C05B;
  border-radius: 4px;
  padding: 8px;
  gap: 10px;
  width: 100%;
  max-width: 360px;
}

#input_search {
  border: none;
  outline: none;
}
#input_search::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #8F8F8F;
}
#input_search::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #8F8F8F;
}
#input_search:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #8F8F8F;
}
#input_search::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #8F8F8F;
}
#input_search::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #8F8F8F;
}

.header__icons_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6px;
  gap: 24px;
}

.header__icons_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
}

.header__icons_text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  color: #414141;
}

.header__entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 217px;
}

.entry__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header__entry_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 880px) {
  .entry__person {
    width: 40px;
  }
  .header__entry_text {
    display: none;
  }
  .entry__link {
    display: none;
  }
  .img_desk {
    display: none;
  }
  .img_table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 49px;
  }
}
@media screen and (max-width: 768px) {
  .btn {
    padding: 10px;
  }
  .btn__text {
    display: none;
  }
}
@media screen and (max-width: 630px) {
  .header__icons_ul {
    display: none;
  }
}
@media screen and (max-width: 410px) {
  .btn {
    display: none;
  }
  .entry__person {
    display: none;
  }
  .header__entry {
    width: 0;
  }
}
#advertising {
  background-image: url(../../assets/images/articles/bg_img.png);
  position: sticky;
  top: 76px;
  background-color: #fff;
  z-index: -1;
}

.advertising__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 18px;
}

.advertising__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: center;
  color: #414141;
}

@media screen and (max-width: 1170px) {
  .advertising__title {
    font-size: 36px;
  }
}
@media screen and (max-width: 880px) {
  .advertising__title {
    font-size: 24px;
    line-height: 27px;
  }
}
@media screen and (max-width: 500px) {
  .advertising__img {
    display: none;
  }
  .advertising__title {
    font-size: 18px;
    padding: 27px 0;
  }
}
#hero {
  padding-top: 80px;
}

.stock__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stock__text {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  color: #414141;
}

.all_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.product__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #606060;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 40px;
  margin-bottom: 80px;
  gap: 40px;
}

.product__box {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 4px;
  position: relative;
}
.product__box:hover {
  -webkit-box-shadow: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
          box-shadow: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.product__img {
  width: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.product__img img {
  width: 100%;
}

.product__save {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(243, 242, 241, 0.4784313725);
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 4px;
}

.product__discount {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #FF6633;
  padding: 4px 8px;
  border-radius: 4px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}

.product__box_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8x;
  padding: 8px;
}

.product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__price {
  padding-bottom: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

.price__text--bold {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0em;
  color: #414141;
}

.price__text {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0em;
  color: #606060;
}

.price__p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  color: #BFBFBF;
}

.product__info {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.fa-star {
  color: #bfbfbf;
  cursor: pointer;
  padding-bottom: 8px;
}
.fa-star:hover {
  color: #FF6633;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.product__btn {
  margin-top: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #70C05B;
  background-color: #fff;
  border: 1px solid #70C05B;
  border-radius: 4px;
  padding-bottom: 4px;
  cursor: pointer;
}
.product__btn:hover {
  background-color: #FF6633;
  color: #fff;
  border-color: #FF6633;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

@media screen and (max-width: 909px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
  .product__box:nth-last-child(4) {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  .products {
    gap: 20px;
  }
}
@media screen and (max-width: 500px) {
  #hero {
    padding-top: 40px;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 16px;
  }
  .product__box:nth-last-child(4) {
    display: block;
  }
  .products {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 360px) {
  .stock__text {
    font-size: 24px;
    line-height: 36px;
  }
  .product__text {
    font-size: 16px;
    line-height: 24px;
  }
}
#special {
  margin-top: 120px;
  margin-bottom: 120px;
}

.special__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}

.special__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: #414141;
}

.special__boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.special__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FCD5BA;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5019607843);
          box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5019607843);
  border-radius: 4px;
}

.special__text {
  width: 100%;
  max-width: 298px;
  padding: 30px 0px 44px 40px;
}

.special__text_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #414141;
}

.special__sub_title {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #414141;
}

.special__img {
  max-width: 500px;
  width: 100%;
}

@media screen and (max-width: 1050px) {
  .special__text {
    padding: 20px 0 20px 20px;
  }
}
@media screen and (max-width: 870px) {
  .special__boxes {
    gap: 30px;
  }
  .special__text_title {
    font-size: 18px;
    line-height: 27px;
  }
  .special__sub_title {
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (max-width: 670px) {
  .special__title {
    font-size: 24px;
    line-height: 36px;
  }
  .special__boxes {
    grid-template-columns: 1fr;
  }
  .special__text_title {
    font-size: 20px;
    line-height: 30px;
  }
}
.location__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}

.location__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: #414141;
}

.location__boxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.location__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.location__link {
  background-color: #F3F2F1;
  border-radius: 4px;
  padding: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #606060;
}

.location__link--active {
  background-color: #70C05B;
  color: #fff;
}

.location__maps {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .location__title {
    font-size: 24px;
    line-height: 36px;
  }
}
.articles__container {
  margin-top: 120px;
  margin-bottom: 80px;
}

.articles__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}

.articles__boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.articles__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1019607843);
}
.articles__box:hover {
  -webkit-box-shadow: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
          box-shadow: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.articles__img img {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.articles__box_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  padding: 10px;
}

.aricles__sub_title {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #8F8F8F;
}

.articles__info_title {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #414141;
}

.articles__info_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #414141;
}

.articles__link {
  background-color: #E5FFDE;
  width: 100%;
  max-width: 150px;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  color: #70C05B;
}
.articles__link:hover {
  color: #fff;
  background-color: #70C05B;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

@media screen and (max-width: 760px) {
  .articles__part {
    row-gap: 20px;
  }
  .articles__boxes {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 400px) {
  .articles__container {
    margin-top: 80px;
    margin-bottom: 40px;
  }
}
.footer__container {
  background-image: url(../../assets/images/articles/bg_footer.png);
  display: grid;
  grid-template-columns: 0.5fr 3.5fr 1fr 1fr;
  gap: 10px;
  padding: 24px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  row-gap: 8px;
}

.footer__list_link {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #414141;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.number__p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #414141;
}

.number__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

@media screen and (max-width: 910px) {
  .footer__container {
    grid-template-columns: 0.5fr 2fr 0.3fr 1fr;
    gap: 10px;
  }
}
@media screen and (max-width: 630px) {
  .footer__container {
    grid-template-columns: 0.5fr 1fr 0.3fr 1fr;
    gap: 10px;
  }
}
@media screen and (max-width: 500px) {
  .footer__container {
    grid-template-columns: 1fr 1fr;
  }
  .footer__logo {
    grid-row: 1/3;
  }
  .footer__ul {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .number__logo {
    display: none;
  }
}
.btn__boxes {
  position: fixed;
  top: 72px;
  left: 0;
  background-color: #fff;
  width: 100vw;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1490196078);
  display: none;
}

.btn__box {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.btn__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #414141;
}
.btn__link:hover {
  color: #FF6633;
}

.open {
  display: block;
}

.global__link_box {
  margin-top: 24px;
  padding: 3px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 148px;
}

.global__link {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #414141;
}

.global__link--active {
  color: #8F8F8F;
}

.cate_hero {
  margin-top: 24px;
  margin-bottom: 80px;
}

.cate_hero__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 96px;
  color: #414141;
}

.cate_hero__boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 60px;
}

.data_box {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
}
.data_box:first-child {
  grid-column: 1/3;
}
.data_box:nth-of-type(8) {
  grid-column: 3/5;
  grid-row: 3/4;
}
.data_box img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.data_name {
  position: absolute;
  bottom: 0px;
  padding: 80px 10px 10px 10px;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(111, 192, 91, 0)), color-stop(rgba(111, 192, 91, 0.2196078431)), to(#70C05B));
  background-image: linear-gradient(to bottom, rgba(111, 192, 91, 0), rgba(111, 192, 91, 0.2196078431), #70C05B);
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

@media screen and (max-width: 768px) {
  .cate_hero__boxes {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-top: 40px;
  }
  .data_box:nth-of-type(8) {
    grid-column: 2/4;
    grid-row: 3/4;
  }
}
@media screen and (max-width: 400px) {
  .cate_hero__boxes {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 32px;
  }
  .cate_hero__title {
    font-size: 36px;
    line-height: 54px;
  }
  .data_box:nth-of-type(8) {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .data_box img {
    height: 140px;
  }
}
.product_main__container {
  padding: 44px 0 166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 50px;
}

.res__btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  width: 95%;
}

.res_box {
  padding-bottom: 50px;
}

.search__link--btn {
  background-color: inherit;
  border: none;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */