#header {
    padding: 13px 0;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    margin-bottom: 4px;
    z-index: 10;
}

.header__container {
    @include flexB;
    gap: 10px;
}

.header__logo{
    width: 100%;
    max-width: 152px;
}

.img_table{
    display: none;
}

.header__btn {
    @include flexB;
    gap: 16px;
    max-width: 516px;
    width: 100%;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #70C05B;
    max-width: 140px;
    width: 100%;
}

.btn__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    max-width: 92px;
}

.header__search {
    @include flexB;
    border: 1px solid #70C05B;
    border-radius: 4px;
    padding: 8px;
    gap: 10px;
    width: 100%;
    max-width: 360px;
}

#input_search {
    border: none;
    outline: none;

    &::placeholder {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #8F8F8F;
    }
}

.header__icons_ul {
    @include flexB;
    padding-top: 6px;
    gap: 24px;
}

.header__icons_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.header__icons_text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: #414141;
}

.header__entry {
    @include flexB;
    width: 100%;
    max-width: 217px;
}

.entry__person{
    @include flexB;
    gap: 10px;
}

.header__entry_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

// responsive part;

@media screen and (max-width: 880px) {
    .entry__person{
        width: 40px;
    }
    .header__entry_text{
        display: none;
    }
    .entry__link{
        display: none;
    }
    .img_desk{
        display: none;
    }
    .img_table{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 49px;
    }
}
@media screen and (max-width: 768px) {
    .btn{
        padding: 10px;
    }
    .btn__text{
        display: none;
    }
}
@media screen and (max-width: 630px) {
    .header__icons_ul{
        display: none;
    }
}
@media screen and (max-width: 410px) {
    .btn{
        display: none;
    }
    .entry__person{
        display: none;
    }
    .header__entry{
        width: 0;
    }
}